<footer class="container-fluid">
    <div class="copyright">
        &copy; Copyright 2021 | All Rights Reserved -- <strong>Demo Website by Avirat
            Bhadani</strong>
    </div>
</footer>

<a href="#myPage" class="back-to-top" title="Back To Top"><i class="fa fa-angle-up"></i></a>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="abc/vendor/typed.js/typed.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="/abc/js/mainSiteClient.js" type="text/javascript"></script>
<script src="/abc/js/dashboardClient.js" type="text/javascript"></script>

</body>

</html>