<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Game
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link href="/abc/css/animate.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/abc/css/customStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/abc/javascript/dashboardClient.js" type="text/javascript"></script>
    <style>
        body {
            padding-top: 60px;
        }

        #hiddenBtn {
            display: none;
        }

        table,
        tr,
        td,
        th {
            border: 2px solid black;
            color: green;
        }

        img {
            cursor: pointer;
            height: 25px;
            width: 40px;
        }

        .box1,
        .box2 {
            background: #98bf21;
            height: 50px;
            width: 50px;
            /*background-image: url('/images/w3jquery.gif');
            background-repeat: no-repeat;
            position: absolute;*/
        }
    </style>
</head>

<body>

    <section class="container text-center">
        <div class="col-sm-10">
            <div><b><i>Type any message in the Message Box and after that click on "Play" button. Do this
                        procedure again and again.</i></b></div>
            <br>
            <div id="addItem">
                Message Box : <input type="text">
                <input type="submit" value="Add in the Table" class="btn btn-success" id="hiddenBtn">
            </div>

            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th>Your Messages</th>
                    </tr>
                </thead>
                <tbody id="addRow">
                </tbody>
            </table>

            <div>
                <button class="btn btn-success startBtn" value="Start rolling" type="submit">Play</button> <br><br>
                <div class="box1"></div> <br><br>
                <div class="box2"></div>
            </div>
        </div>
    </section>   

    <!--<footer class="container-fluid text-center">
        <p>Copyright 2021 | All Rights Reserved -- Sample Website by Avirat Bhadani</p>
    </footer>-->

</body>

</html>